@keyframes scroll {

    0% {
        opacity: 1;
        transform: translate(-50%, -10px) rotate(45deg);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 2px) rotate(45deg);
    }
}
