.dev {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;

  .dev-edit-entry {
    padding: 10px;
    line-height: 1;
    font-weight: 700;
    font-size: 12px;
    background: $black;
    color: $white;
  }
}
