@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    color: $text-color;

    .container {
        max-width: 1400px;
        margin: auto;
    }

    #content {
        position: relative;
        flex: 1;

        @include ie {
            flex-basis: auto;
        }
    }
}
